<div class="row" style="justify-content: center">
  <form [formGroup]="customerForm" (ngSubmit)="update(customerId)" class="needs-validation p-4" style="background-color: whitesmoke; border-radius: 1rem; width: 70%" novalidate>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label >Code Customer</label>
        <input type="text"  class="form-control" placeholder="KH-XXXX" value="" required formControlName="code">
        <p style="color: red" *ngIf="!code.valid && (code.dirty ||code.touched)">First letter must be capitalized</p>
      </div>
      <div class="col-md-4 mb-3">
        <label >Type Customer</label>
        <select  class="form-control" formControlName="typeCustomer">
          <option *ngFor="let temp of customerType" [ngValue]="temp">{{temp.name}}</option>
        </select>
        <p style="color: red" *ngIf="!typeCustomer.valid && (typeCustomer.dirty ||typeCustomer.touched)">First letter must be capitalized</p>
      </div>
      <div class="col-md-4 mb-3">
        <label >Customer Name</label>
        <input type="text"  class="form-control" placeholder="Le Van A" required formControlName="name">
        <p style="color: red" *ngIf="!name.valid && (name.dirty ||name.touched)">First letter must be capitalized</p>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label >Date Of Birth</label>
        <input type="date" class="form-control" placeholder="" required formControlName="birthDay">
      </div>
      <p style="color: red" *ngIf="!birthDay.valid && (birthDay.dirty ||birthDay.touched)">You entered the wrong format</p>
      <div class="col-md-4 mb-3">
        <label>ID Card</label>
        <input type="text"  class="form-control"  placeholder="1945XXXXX" required formControlName="card">
        <p style="color: red" *ngIf="!card.valid && (card.dirty ||card.touched)">You entered the wrong format</p>
      </div>
      <div class="col-md-4 mb-3">
        <label>Phone</label>
        <input type="text"  class="form-control" formControlName="phone">
        <p style="color: red" *ngIf="!phone.valid && (phone.dirty ||phone.touched)">You entered the wrong format</p>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label> Email</label>
        <input type="text"  class="form-control"
               placeholder="abc@gmail.com" required formControlName="email">
        <p style="color: red" *ngIf="!email.valid && (email.dirty ||email.touched)">You entered the wrong format</p>
      </div>
      <div class="col-md-4 mb-3">
        <label >Address</label>
        <input type="text" class="form-control" placeholder="Địa chỉ" required formControlName="address">
        <p style="color: red" *ngIf="!address.valid && (address.dirty ||address.touched)">You entered the wrong format</p>
      </div>
      <div class="col-md-4 mb-3">
        <label >Gender</label>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4"> <input class="form-check-input" name="gender" type="radio" value="0"  formControlName="gender">Male</div>
          <div class="col-md-6"><input class="form-check-input" name="gender" type="radio" value="1" formControlName="gender">Female</div>
        </div>
        <p style="color: red" *ngIf="!gender.valid && (gender.dirty ||gender.touched)">You entered the wrong format</p>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <a [routerLink]="['/list-customer']"><button class="btn text-white" type="submit" style="background-color: black">Back</button></a>
      </div>
      <div class="col-md-2">
        <button class="btn text-white" type="submit" style="background-color: black" >Save changes</button>
      </div>
      <div class="col-md-9"></div>
    </div>
  </form>

</div>
