<div class="row div" style="justify-content: center">
  <form [formGroup]="contractForm" (ngSubmit)="submit()" class="needs-validation p-4" style="background-color: whitesmoke; border-radius: 1rem; width: 70%" novalidate>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label >Customer</label>
        <select  class="form-control" formControlName="customer">
          <option *ngFor="let temp of customers" [ngValue]="temp">{{temp.name}}</option>
        </select>
        <p style="color: red" *ngIf="!typeCustomer.valid && (typeCustomer.dirty ||typeCustomer.touched)">You enter wrong format</p>

      </div>
      <div class="col-md-4 mb-3">
        <label >Facility</label>
        <select  class="form-control" formControlName="facility">
          <option *ngFor="let temp of facilityList" [ngValue]="temp">{{temp.name}}</option>
        </select>
        <p style="color: red" *ngIf="!typeFacility.valid && (typeFacility.dirty ||typeFacility.touched)">You enter wrong format</p>
      </div>
      <div class="col-md-4 mb-3">
        <label >Start date</label>
        <input type="date"  class="form-control" formControlName="startDate">
        <p style="color: red" *ngIf="!startDate.valid && (startDate.dirty ||startDate.touched)">You enter wrong format</p>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label >End date</label>
        <input type="date" class="form-control" formControlName="endDate">
        <p style="color: red" *ngIf="!endDate.valid && (endDate.dirty ||endDate.touched)">You enter wrong format</p>

      </div>
      <div class="col-md-4 mb-3">
        <label>Deposit</label>
        <input type="text"  class="form-control" formControlName="deposit" >
        <p style="color: red" *ngIf="!deposit.valid && (deposit.dirty ||deposit.touched)">Cannot to blank and is positive number</p>
      </div>
      <div class="col-md-4 mb-3">
        <label>Total money</label>
        <input type="text"  class="form-control" formControlName="totalMoney">
        <p style="color: red" *ngIf="!totalMoney.valid && (totalMoney.dirty ||totalMoney.touched)">Cannot to blank and is positive number</p>

      </div>
    </div>
    <div class="form-row">
      <div class="col-md-2">
        <label >Attach facility</label>
      </div>
      <div class="col-md-10">
        <button class="btn btn-primary btn-sm ">
          <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
          </svg>
        </button>
      </div>


    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <a [routerLink]="['/contract']"><button class="btn text-white" type="submit" style="background-color: black">Back</button></a>
      </div>
      <div class="col-md-1">
        <button class="btn text-white" type="submit" style="background-color: black">Create</button>
      </div>
      <div class="col-md-10"></div>
    </div>
  </form>

</div>
