<h3 style="text-align: center">Calculator</h3>
<div class="calculator__keys" style="text-align: center">
  <div>
    <input type="text" placeholder="0" [(ngModel)]="firstOperand">
    <input type="text" placeholder="0" [(ngModel)]="secondOperand">
  </div>
  <br>
  <div>
    <button (click)="calculator('+')" >+</button>
    <button (click)="calculator('-')">-</button>
    <button (click)="calculator('*')">*</button>
    <button (click)="calculator('/')">/</button>
  </div>
  <h3>Result :{{result}}</h3>
</div>
