<div class="row div" style="justify-content: center">
  <form [formGroup]="facilityForm" (ngSubmit)="submit(facilityId)" *ngIf="facilityForm" class="needs-validation p-4"
        style="background-color: whitesmoke; border-radius: 1rem; width: 70%" novalidate>
    <div class="form-row">
      <input type="text" formControlName="id" hidden>
      <div class="col-md-4 mb-3">
        <label >Facility Name</label>
        <input type="text" class="form-control" formControlName="name">
        <p style="color: red" *ngIf="!name.valid && (name.dirty ||name.touched)">Can't be blank and contain numeric characters</p>
      </div>
      <div class="col-md-4 mb-3">
        <label >Type Facility</label>
        <select  class="form-control "  formControlName="typeFacility" [compareWith]="compareFacilityType" (change)="changeFacility($event)">
          <option *ngFor="let temp of facilityTypeList" [ngValue]="temp" >{{temp.name}}</option>
        </select>
        <p style="color: red" *ngIf="!typeFacility.valid && (typeFacility.dirty ||typeFacility.touched)">Can't be blank and contain numeric characters</p>

      </div>
      <div class="col-md-4 mb-3">
        <label >Rent Type</label>
        <select  class="form-control" formControlName="rentType" [compareWith]="compareFacilityType">
          <option *ngFor="let temp of rentTypeList" [ngValue]="temp">{{temp.name}}</option>
        </select>
        <p style="color: red" *ngIf="!rentType1.valid && (rentType1.dirty ||rentType1.touched)">Can't be blank and contain numeric characters</p>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label >Area</label>
        <input type="text"  class="form-control" placeholder="" required formControlName="area">
        <p style="color: red" *ngIf="!area.valid && (area.dirty ||area.touched)">Can't be left blank</p>

      </div>
      <div class="col-md-4 mb-3">
        <label>Cost</label>
        <input type="text"  class="form-control" formControlName="cost">
        <p style="color: red" *ngIf="!cost.valid && (cost.dirty ||cost.touched)">Can't be blank and price is positive</p>
      </div>
      <div class="col-md-4 mb-3">
        <label>People</label>
        <input type="text"  class="form-control" formControlName="people">
        <p style="color: red" *ngIf="!people.valid && (people.dirty ||people.touched)">Can't be left blank</p>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3"  *ngIf="idFacility == '2: Object' || idFacility =='0: Object'">
        <label>Standard Room</label>
        <input type="text"  class="form-control" formControlName="standardRoom">
        <p style="color: red" *ngIf="!standardRoom.valid && (standardRoom.dirty ||standardRoom.touched)">Can't be left blank</p>

      </div>
      <div class="col-md-4 mb-3" *ngIf="idFacility == '2: Object' || idFacility =='0: Object'">
        <label>Description</label>
        <input type="text"  class="form-control" formControlName="description">
        <p style="color: red" *ngIf="!description.valid && (description.dirty ||description.touched)">Can't be left blank</p>
      </div>
      <div class="col-md-4 mb-3" *ngIf="idFacility == '2: Object'">
        <label >Area Pool</label>
        <input type="text"  class="form-control" formControlName="areaPool">
        <p style="color: red" *ngIf="!areaPool.valid && (areaPool.dirty ||areaPool.touched)">Can't be blank and is a positive number</p>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3" *ngIf="idFacility == '2: Object' || idFacility =='0: Object'">
        <label >Floor</label>
        <input type="text"  class="form-control" formControlName="floor">
        <p style="color: red" *ngIf="!floor.valid && (floor.dirty ||floor.touched)">Can't be blank and is a positive number</p>
      </div>
      <div class="col-md-4 mb-3" *ngIf="idFacility == '1: Object'">
        <label >Facility Free</label>
        <input type="text"  class="form-control" formControlName="free">
        <p style="color: red" *ngIf="!free.valid && (free.dirty ||free.touched)">Can't be blank and contain numeric characters</p>

      </div>
      <div class="col-md-4 mb-3">
        <label >Url</label>
        <input type="text"  class="form-control" formControlName="url">
        <p style="color: red" *ngIf="!url.valid && (url.dirty ||url.touched)">Can't be left blank</p>
      </div>
    </div>

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <a [routerLink]="['/facility']"><button class="btn text-white" type="submit" style="background-color: black">Back</button></a>
      </div>
      <div class="col-md-2">
        <button class="btn text-white" type="submit" style="background-color: black">Save changes</button>
      </div>
      <div class="col-md-8"></div>
    </div>
  </form>

</div>
